.contact-container {
    margin: 8rem 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
}

.contact-container h5 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 3.5rem;
    color: #ffffff;
}

.contact-content {
    display: flex;
    gap: 5rem; 
}